.header{
    background: #b92b27;
    font-family: "HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
}

.header .image-container{
    display: inline-block;
}

.header .image-container .image{
    height: 70px;
    width: 70px;
    background: url("../../assets/logo.svg") no-repeat center;
    background-size: 60px 60px;
}

.header .link-container{
    display: inline-block;
    position: absolute;
    top: 5px;
}

.header .link-list .link-element{
    display: inline-block;
    padding: 5px 10px;
}

.header .link-list a{
    text-decoration: none;
    color: #fff;
}

.header .link-list .link-element a:hover{
    text-decoration: underline;
}