.user-info{
	font-size: 16px;
	background-color: #eee;
	padding: 10px 10px 0px 10px;
	border-bottom: 2px solid #b92b27;
}

.user-info div{
	padding: 5px 0px;
}

.user-info b{
	color: #333;
}

.user-info span{
	color: #666;
}