<div class="header">
    <div class="image-container">
        <div class="image"></div>
    </div>
    <div class="link-container">
        <ul class="link-list">
            <li class="link-element"><a [routerLink]="['\news', 1]">New</a></li>
            <li class="link-element"><a [routerLink]="['\show', 1]">Show</a></li>
            <li class="link-element"><a [routerLink]="['\ask', 1]">Ask</a></li>
            <li class="link-element"><a [routerLink]="['\jobs', 1]">Jobs</a></li>
        </ul>
    </div>
</div>