body{
    padding: 0px;
    margin: 0px;
    font-family: "HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif"
}

.app-container{
    width: 80%;
    margin: 0px auto;
}